<p id="notice"><%= notice %></p>

<p>
  <strong>Street address:</strong>
  <%= @address.street_address %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @address.unit %>
</p>

<p>
  <strong>State province:</strong>
  <%= @address.state_province %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @address.postal_code %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>Description:</strong>
  <%= @address.description %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
