<%= simple_form_for(@log_entry) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.association :event %>
    <%= f.input :log %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
